header {
    background-image: url('../assets/Hero-bg.png');
    padding: 20px;
    margin-top: 70px;
    margin-bottom: 70px;

}

.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 20px;

}


.btn-primary {
    display: block;
    align-items: center;
    background-color: #0D1321;
    font-weight: bold;
    font-size: 24px;
    padding: 15px 30px;
    color: aliceblue;
    border-radius: 8px;
    border: none;
    cursor: pointer;

}

.banner-section {
    display: block;
    /* justify-content: center; */
    /* align-items: center; */
}

/* .banner-title{
    width: 998;
} */
.text-style {
    text-align: center;
}

.banner-title {
    font-size: 50px;
    color: #0D1321;
}



.paragraph {
    color: #0D1321;
    font-size: 20px;
    opacity: 0.6;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* border: 8px ridge blue;   */
    padding: 5px;
}

.text-center {
    text-align: center;
    margin-top: 60px;
}

.secondary-title {
    font-size: 35px;
    font-weight: bolder;
    color: #181818;
}

.secondary-para {
    font-size: 19px;
    color: #0D1321;
    opacity: 0.6;
}

.secondary-work {
    text-align: center;
    background-color: #FFF8F3;
}

.block {
    display: block;
    /* justify-content: center; */
    text-align: center;
}

.skill {
    display: flex;
    gap: 150px;
    margin-bottom: 40px;
    margin-top: 30px;
}

.skill-title {
    font-size: 25px;
    color: #0D1321;
    font-weight: bold;
}

.skill-description {
    font-size: 16px;
    color: #0D1321;
    /* font-weight: bold; */
    /* font-family: 'Courier New', Courier, monospace; */
}
.center-skill{
    display: block;
    /* text-align: center; */
    /* align-items: center; */
    justify-content: center;
}
.skill-container {
    display: flex;
    gap: 25px;
}
.skills {
    padding: 20px;
    box-shadow: 0px 6px 40px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.skill-title {
    font-size: 25px;
    /* text-align: center; */
}
.skill-item{
    text-align: center;
}

.skill-description {
    font-size: 17px;
}
.skill-btn{
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 15px 30px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
/* .secondary-margin{
    margin-bottom: 100px;
  } */
/* .secondary-work{ 
    width: 1140px;
    height: 1393px;
    justify-content: center;
  } */
.btn-secondary {
    background-color: #eaecf3;
    font-weight: bold;
    font-size: 20px;
    padding: 15px 30px;
    color: rgb(7, 22, 36);
    border-radius: 4px;
    border: 2px solid black;
    cursor: pointer;
}

.inspiration-title {
    font-size: 36px;
    color: #0D1321;
    margin-top: 60px;

}

.third-section-inpiration {
    /* display: block; */
    align-items: center;
    justify-content: center;
}

.my-inspiration-part {
    width: 100%;
    text-align: center;
    /* justify-content: center; */
    /* align-items: center; */
}

.ispiration-description {
    font-size: 16px;
    color: #0D1321;
    opacity: 0.6;
    margin-bottom: 48px;
}

iframe {
    border: 2px solid rgb(44, 27, 27);
    border-radius: 15px;
}

main section {
    margin-top: 130px;
    margin-bottom: 130px;
}
main {
    max-width: 1140px;
    margin: 0 auto;
}
.section-title{
     font-size: 32px;
     font-weight: 800;
     color: #0D1321;

}
.section-description{
    font-size: 18px;
    opacity: 0.6;
}
footer{
    text-align: center;
    margin: auto;
    background-image: url(../assets/handshake.jpg) ;
    background-position: center;
    background-attachment: fixed;
    /* display: flex; */
}
.footer-btn{
    background-color: #eaecf3;
    font-weight: bold;
    font-size: 20px;
    padding: 15px 30px;
    color: rgb(7, 22, 36);
    border-radius: 8px;
    border: 2px solid black;
    cursor: pointer;
}
.footer-title{
   font-size: 32px;
   font-weight: bold;
   color: #FFF8F3;

}
.footer-description{
font-size: 16px;
/* opacity: 0.6; */
}
.flex{
    display: block;
}
textarea{
    border-radius: 8px;
}
.footer-text{
    font-size: 18px;
    opacity: 0.6;
    margin-top: 20px;
    padding-top: 10px;
    text-align: center;
}